<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <div class="sidebar-wrapper">
      <div class="profile-container">
          <img class="profile" src="assets/images/profile.png" alt="" />
          <h1 class="name">Alexandre Czechowicz</h1>
          <h3 class="tagline">Mobile/Web Developer</h3>
      </div><!--//profile-container-->

      <div class="contact-container container-block">
          <ul class="list-unstyled contact-list">
              <li class="email"><i class="fa fa-envelope"></i><a href="mailto: alexandrecz@live.com">alexandrecz@live.com</a></li>
              <li class="phone"><i class="fa fa-phone"></i><a href="tel:5551 997311619">xx55 51 997311619</a></li>
              <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/alexandrecz/" target="_blank">alexandrecz</a></li>
              <li class="github"><i class="fa fa-github"></i><a href="https://github.com/alexandrecz" target="_blank">alexandrecz</a></li>
              <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/alexandrecz" target="_blank">@alexandrecz</a></li>
          </ul>
      </div><!--//contact-container-->
      <div class="education-container container-block">
          <h2 class="container-block-title">Education</h2>
          <div class="item">
              <h4 class="degree">Diploma - Computer Science</h4>
              <h5 class="meta">Fatec/RS - Brazil</h5>
              <div class="time">2008 - 2011</div>
          </div><!--//item-->
          <div class="item">
            <h4 class="degree">Certified Technology Specialist (MCTS)</h4>
            <h5 class="meta">Microsoft®</h5>
            <div class="time">2009</div>
        </div><!--//item-->
      </div><!--//education-container-->

      <div class="languages-container container-block">
          <h2 class="container-block-title">Languages</h2>
          <ul class="list-unstyled interests-list">
              <li>Portuguese <span class="lang-desc">(Native)</span></li>
              <li>English <span class="lang-desc">(Professional)</span></li>
          </ul>
      </div><!--//interests-->

      <div class="interests-container container-block">
          <h2 class="container-block-title">Interests</h2>
          <ul class="list-unstyled interests-list">
              <li>Health</li>
              <li>Sports</li>
              <li>Space</li>
              <li>Future</li>
          </ul>
      </div><!--//interests-->

  </div><!--//sidebar-wrapper-->

  <div class="main-wrapper">

      <section class="section summary-section">
          <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
          <div class="summary">
              <p>Years of experience developing, researching brand new solutions and best patterns to attend the projects;
                    Good user experience knowledge and graphical skills, can handle most visual design challenges (by the way, I am always willing to build the best UX for the costumers).
              </p>
          </div><!--//summary-->
      </section><!--//section-->

      <section class="section experiences-section">
          <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Senior Front end Developer </h3>
                      <div class="time">2017 - Present</div>
                  </div><!--//upper-row-->
                  <div class="company">Dell, Porto Alegre - Brazil</div>
              </div><!--//meta-->
              <div class="details">
                  <p>Joined on ongoing project as Front-end Senior, working on Dell Team developing components in Angular for Dell Finance Portal for consumer.</p>
                  <p>Developing new UI Experience by using the cutting edge web technologies: AngularJS, Angular 4++, Typescript, SAAS, WebPack, Gulp, Ionic.</p>
              </div><!--//details-->
          </div><!--//item-->

          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Senior Software Engineer and Lead Developer</h3>
                      <div class="time">2010 - 2017</div>
                  </div><!--//upper-row-->
                  <div class="company">Progress Informatica, Porto Alegre - Brazil</div>
              </div><!--//meta-->
              <div class="details">
                  <p>Developed a brand new system in HTML5. Create components and templates for front end (HTML5, Knockout.js, Node.js, AngularJS, Typescript, Less Gulp, Ionic) and helps the team on back end (webservices such as WCF and database framework such as ADO.NET) as well.</p>
                  <p>Developed WPF tool which does the integration between internal legacy system an external system. Integration between MySQL and Oracle database. </p>
                  <p>Developed Xamarin app providing a mobile dashboard. </p>
                  <p>Designed and developed Silverlight project that works together with legacy systems (Integration by webservices such as WCF Ria Services plus ADO.NET). </p>
              </div><!--//details-->
          </div><!--//item-->

          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Remote Software Developer</h3>
                      <div class="time">2011 - 2012</div>
                  </div><!--//upper-row-->
                  <div class="company">OneLine Centric, London - UK</div>
              </div><!--//meta-->
              <div class="details">
                  <p>Remote Web Developer working with Asp.NET web forms pages and MSSQL Store Procedures for SAXO Bank portal</p>
              </div><!--//details-->
          </div><!--//item-->

          <div class="item">
                <div class="meta">
                    <div class="upper-row">
                        <h3 class="job-title">Software Engineer</h3>
                        <div class="time">2010 - 2010</div>
                    </div><!--//upper-row-->
                    <div class="company">HP, Porto ALegre - Brazil</div>
                </div><!--//meta-->
                <div class="details">
                    <p>Developed WPF system</p>
                    <p>As a Software Engineer, worked in an international and also recognized project (TeachNow) to the HP-Hewlett Packard Brazil - PCL Laboratory.</p>
                </div><!--//details-->
            </div><!--//item-->

            <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2005 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Publisis Informatica, Porto ALegre - Brazil</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Maintance of existing systems in a .NET framework, such as Windows Forms, ASP.NET and Windows Mobile 6.0. as well.</p>
                    </div><!--//details-->
                </div><!--//item-->

      </section>
      <section class="section projects-section">
        <h2 class="section-title"><i class="fa fa-archive"></i>Portfolio</h2>
        <script id="asp-embed-script" data-zindex="1000000" type="text/javascript" charset="utf-8" src="https://spark.adobe.com/page-embed.js"></script><a class="asp-embed-link" href="https://spark.adobe.com/page/ndaGDqQm4blJi/" target="_blank"><img src="https://spark.adobe.com/page/ndaGDqQm4blJi/embed.jpg?buster=1529603168764" alt="Alexandre Czechowicz" style="width:100%" border="0" /></a>
      </section>
      <!-- <section class="section projects-section">
          <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
          <div class="intro">
              <p>Here a small list that summarize my projects.</p>
          </div>
          <div class="item">
              <span class="project-title"><a href="#hook">DFS - Costumer Portal</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>
          </div>
          <div class="item">
                <span class="project-title"><a href="#hook">JCK Advgados</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>
            </div>
          <div class="item">
              <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-web-development-agencies-devstudio/" target="_blank">PubliWeb</a></span> -
              <span class="project-tagline">A responsive website template designed to help web developers/designers market their services. </span>
          </div>
          <div class="item">
              <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-startups-tempo/" target="_blank">PubliCasting</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
          </div>
          <div class="item">
              <span class="project-title"><a href="hhttp://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-mobile-apps-atom/" target="_blank">HP - Teach Now</a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
          </div>
          <div class="item">
              <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">Blood Type</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
          </div>
          <div class="item">
               <span class="project-title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-mobile-apps-delta/" target="_blank">Time Sheet</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
           </div>
      </section> -->

      <section class="skills-section section">
          <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
          <div class="skillset">
              <div class="item">
                  <h3 class="level-title">Angular</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="90%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->
              <div class="item">
                    <h3 class="level-title">Ionic</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="80%">
                        </div>
                    </div><!--//level-bar-->
                </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">Javascript</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="85%">
                      </div>
                  </div><!--//level-bar-->
              </div><!--//item-->

              <div class="item">
                  <h3 class="level-title">HTML5 &amp; CSS</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="85%">
                      </div>
                  </div>
              </div>
              <div class="item">
                    <h3 class="level-title">Xamarin</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="85%">
                        </div>
                    </div>
                </div>
              <div class="item">
                  <h3 class="level-title">C#</h3>
                  <div class="level-bar">
                      <div class="level-bar-inner" data-level="91%">
                      </div>
                  </div>
              </div>
              <div class="item">
                    <h3 class="level-title">.NET</h3>
                    <div class="level-bar">
                        <div class="level-bar-inner" data-level="70%">
                        </div>
                    </div>
                </div>

          </div>
      </section>

  </div>
</div>

<footer class="footer">
</footer>


<script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- custom js -->
<script type="text/javascript" src="assets/js/main.js"></script>
<!-- </div> -->
